.main-section{
	font-family:sans-serif;
}


.forms-container{
	padding:1.6em;
	max-width:45em;
	margin-left:auto;
	margin-right:auto;
	margin-top:3em;
	margin-bottom:3em;
	background:linear-gradient(to bottom,rgba(0,0,0,0.8), #2f4f4f);
	background:-webkit-linear-gradient(to bottom,rgba(0,0,0,0.8), #2f4f4f);
	background:-moz-linear-gradient(to bottom,rgba(0,0,0,0.8), #2f4f4f);
	background:-o-linear-gradient(to bottom,rgba(0,0,0,0.8), #2f4f4f);
	color:white;
}

.forms-container h1{
	font-size:1.9em;
	text-align:center;
	color:#bfd9d9;
}

label b{
	font-size:1.7em;
}
input[type=text], 
input[type=password]{
	width:100%;
	padding:0.5em;
	margin-right:auto;
	margin-left:auto;
	margin-top:0.5em;
	margin-bottom:1em;
	display:inline-block;
	border:none;
	background:#f1f1f1;
	font-size:1.7em;
}
	
button{
	background:#bfd9d9;
	color:black;
<<<<<<< HEAD
<<<<<<< HEAD
	padding:1em 1em;
=======
	padding:1em 1.5em;
>>>>>>> b6cf757086e48953a929b9a25cc71016e9750ac5
=======
	padding:1em 1.5em;
>>>>>>> b6cf757086e48953a929b9a25cc71016e9750ac5
	margin:0.4em 0 0;
	border:none;
	cursor:pointer;
	width:100%;
	opacity:0.9;
	font-size:1.6em;
}
button:hover{
	opacity:1.1;
}
<<<<<<< HEAD
<<<<<<< HEAD

.signup-button,
.login-button{
background:#4dff4d;
}

=======
.signup-button{
background:#4dff4d;
}
>>>>>>> b6cf757086e48953a929b9a25cc71016e9750ac5
=======
.signup-button{
background:#4dff4d;
}
>>>>>>> b6cf757086e48953a929b9a25cc71016e9750ac5
.to-login,
.signup-button{
	float:left;
	width:50%;
}
<<<<<<< HEAD
<<<<<<< HEAD
.to-signup,
.login-button{
	float:left;
	width:50%;
}
=======

>>>>>>> b6cf757086e48953a929b9a25cc71016e9750ac5
=======

>>>>>>> b6cf757086e48953a929b9a25cc71016e9750ac5
.clearfix::after{
	content:"";
	clear:both;
	display:table;
}
<<<<<<< HEAD
<<<<<<< HEAD
#rememberme b{
	font-size:1.4em;
}
#rememberme input[type=checkbox]{
	margin-bottom:1.5em;
	margin-top:2em;
}
=======
>>>>>>> b6cf757086e48953a929b9a25cc71016e9750ac5
=======
>>>>>>> b6cf757086e48953a929b9a25cc71016e9750ac5

hr{
	border:0.2em solid white;
}

@media screen and (max-width:350px){
	.to-login,
	.signup-button{
		width:100%;
	}
<<<<<<< HEAD
<<<<<<< HEAD
	.to-signup,
	.login-button{
		width:100%;
	}
=======
>>>>>>> b6cf757086e48953a929b9a25cc71016e9750ac5
=======
>>>>>>> b6cf757086e48953a929b9a25cc71016e9750ac5
}