
		.main-section{
			font-family:sans-serif;
		}
		.main-section .news-title{
			margin-top:4em;
			padding-left:2em;
			padding-right:2em;
			opacity:0.9;
<<<<<<< HEAD
			background:rgba(0,0,0,0.8);
=======
			background:rgba(0,0,0,0.6);
>>>>>>> 8d127eb92a4e52bb0e93786d6aa98078629ffa33
			height:100%;
		}
		.news-title h2{
			font-family: Verdana, sans-serif;
			font-size:1.8em;
			font-weight: 600;
			color:white;
			padding-top:0.5em;
			padding-left: 1em; 
			text-align: center;
		}

		.main-section .news-container{
			margin-bottom:4em;
			padding-top:1em;
			padding-left:2em;	
			padding-right:2em;
			padding-bottom:1em;
<<<<<<< HEAD
			background:rgba(255,255,255,0.9);
=======
			opacity:0.9;
			background:rgba(255,255,255,1);
>>>>>>> 8d127eb92a4e52bb0e93786d6aa98078629ffa33
			height:100%;
			font-family: Helvetica, sans-serif;
		}
		
		.main-section .news-container .news-list {
      padding: 1em;
      display: flex;
      flex-direction: column;
      list-style: none;
    }

		.main-section .news-container .news-list li{
<<<<<<< HEAD
			padding: 0.5em;
			margin-bottom: 0.3em;
			background: rgb(47,79,79, 0.9);
			height: auto;
      font-size: 1.4em;
			font-weight: 400;
			display: block;
			border-radius: 1em; 
		}

		.main-section .news-container .news-list li img{
			float: left;
			margin-right: 0.8em;
			width: 100%;
			max-width: 14vw;
			height: 14vw;
			background: rgb(47,79,79,0);
		}

		.main-section .news-container .news-list li div{
			padding: inherit;
		}
		.main-section .news-container .news-list li div h3{
			margin: 0;
			color: azure;
		}

		@media (max-width: 960px) and (min-width: 501px) {
			.main-section .news-container .news-list li img{
				max-width: 13em;
				height: 13em;
			}
			
			.main-section .news-container .news-list li div{
				margin-left: 0;
			}
		}

		@media screen and (max-width: 500px) {
			.main-section .news-container .news-list li img{
				max-width: 70vw;
				height: 60vw;
			}
			.main-section .news-container .news-list li{
				display: flex;
				flex-direction: column;
			}

			.main-section .news-container .news-list li div{
				margin-left: 0;
			}
=======
			padding: 0.1em;
			margin-bottom: 0.3em;
			background: #2f4f4f;
			min-height: 75px;
      font-size: 1.4em;
      font-weight: 400;
>>>>>>> 8d127eb92a4e52bb0e93786d6aa98078629ffa33

		}