
.content-container .notif-bar{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin: 0; 
}

.content-container .notif-bar div{
    background: linear-gradient(to bottom,rgba( 255, 255, 255,0.9), rgba(47, 79, 79, 1));
    color: #333;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;

}

.notif-bar div h3{
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.notif-bar div hr{
    border: 2px solid #333;
}

.notif-bar #notifications-ul{
    display: flex;
    flex-direction: row;
    color: white;    
    list-style: none;
    padding: 0;
}

#notifications-ul li{
    padding: 1em;
    color: #333;
}

#notifications-ul li:hover{
    background: linear-gradient(to top,rgba( 255, 255, 255,0.8), rgba(47, 79, 79, 1));
    cursor: pointer;
}