html{
    font-size: 16px;
    height: 100%;
}

body {
    margin:0 auto;
    padding:0;   
    min-height:100%;
    position: relative;
    overflow:auto;
}
*{
    box-sizing:border-box;
    font-family: "Open Sans", sans-serif;
}

#top-line{
    height: 11vh;
    width: 100%;
    padding-left: 10vw;
    background: linear-gradient(to top,rgba(0,0,0,0.8), #2f4f4f);
}

#bottom-line{
    height: 5vh;
    width: 100%;
    background: linear-gradient(to bottom,rgba(0,0,0,0.8), rgb(31, 56, 56));
}

#top-line #logo{
   max-height: 11vh;
}

.main-section{
    min-height: 84vh;
    width: auto;
    display: flex;
    padding-left: 8vw;
    padding-right: 8vw;
    background-image:  url('../images/back2.jpg');
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.main-section .menu-sidebar{
    min-width: 300px;
    width: 300px;
    padding-top: 2em;
}

.main-section .content-container{
    min-width: calc(84vw - 300px);
    overflow: hidden;
    padding-top: 2em;
    padding-bottom: 2.5em;
}


.menu-sidebar .main-header{
    /* background-color: #d4d4d4; */
    background: linear-gradient(to bottom,rgba( 255, 255, 255,0.8), rgba(47, 79, 79, 0.9));
    height: auto;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu-sidebar .main-header nav{
    height: 50px;
    margin-top: 5px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    display: block;   
}

.main-header nav ul{
    min-height: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-header nav ul li{
    flex: 1;
    min-height: 100%;
    background-color: rgb(231, 231, 231);
    border: 1px solid #333;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-header nav ul li:nth-child(4){
    margin-right: 0;
}

.main-header nav ul li a{
    text-decoration: none;
    background-color: rgb(231, 231, 231);
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: all ease-in-out 0.2s;
}

.main-header nav ul li a i{
    font-size: 2rem;
}

.menu-sidebar .main-header .profile-container{
    height: auto;
    margin:0;
    padding: 1em;
    background-color: rgb(231, 231, 231);
    border: 1px solid #333;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.menu-sidebar .main-header .profile-container img{
    border-radius: 50%;
    border: 2px solid #333;
    height: fit-content;
    width: fit-content;
    max-height: 140px;
    max-width: 140px;
}

.menu-sidebar .main-header .profile-container h2{
    color: #333;
    margin-top: 1.5em;
}

.content-container .new-topic{
    margin-top: 0;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.content-container .new-topic #new-topic-form{
    background-color: #d4d4d4;
    padding-top: 0.5em;
    padding: 1em;
    padding-bottom: 4em;
    position: relative;
}

.content-container .new-topic #new-topic-form h3{
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

hr{
    border: 2px solid #333;
}

#new-topic-form .form-divs{
    background-color: rgb(231, 231, 231);
    border: #333 solid 1px;
    margin-top: 2em;
    padding-bottom: 1em;
}

.form-divs h4{
    font-weight: bold;
    margin: 1em;
}

#new-topic-form #interested-in{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    margin-top: 2em;
    padding-left: 1em;
}

#interested-in li{
    flex: 1;
    min-width: 16%;
}

#interested-in li h5{
    max-width: 80px;
    text-align: center;
    min-height: 37px;
}

#interested-in li input[type="checkbox"][id^="icb"]{
    display: none;
}

#interested-in li label {
    width: 80px;
    height: 80px;
    display: block;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}

#interested-in li label img {
    height: 80px;
    width: 80px;
    opacity: 0.7;
    border-radius: 50%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

#interested-in li label img:hover{
    opacity: 1;
}

#interested-in li label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 2px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

#interested-in li input:checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}

#interested-in li input:checked + label img {
    box-shadow: 0 0 5px #333;
    opacity: 1;    
}

#new-topic-form .add-topic-button-div{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 0;
    padding-right: 1.5em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
}

#new-topic-form .add-topic-button-div #add-trip{
    background: #4dff4d;
    color: #333;
    font-weight: bold;
    border: none;
    cursor: pointer;
    min-width: 80px;
    min-height: 30px;
    opacity: 0.9;
    border: 1px solid #333;
    border-radius: 3px;
    margin-left: 0;
    outline: none;
}
<<<<<<< HEAD
#add-trip:hover{
	background: #33c433;
=======
#new-topic-form #add-trip:hover{
    background: #33c433;
>>>>>>> 49f16b5b1f5e05f558b7a7d35bba6d594be9ef26
}

.add-topic-button-div img{
    max-height: 30px;
    margin-right: 0.5em; 
}

.add-topic-button-div #verified{
    display: none;
}
.add-topic-button-div #wrong{
    display: none;
}

.form-divs .search-city-container{
    max-width: 500px;
    height: 40px;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex: 4 1 auto;
}
 
.search-city-container  input[type="search"]{
    max-width: 100%;
    font-size: 16px;
    padding-left: 1em;
    background-color: rgb(231, 231, 231);
    border: 0;
    border-bottom: 1px solid #333;
    color: #333;
    flex: 2;
}

.search-city-container input[type="search"]::placeholder{
    color: #333;
}

.search-city-container input[type="search"]:focus{
    outline: none;
}

.budget-container{
    max-width: 500px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-divs input[type="range"]{
    width: 100%;
    background-color: #333;
}

.slider{
    -webkit-appearance: none;
    height: 3px;
    background-image: linear-gradient(to right, green, yellow, orange,  red);
    outline: none;
    opacity: 0.7;
}
.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 15px;
    background: linear-gradient(to top, black, #2f4f4f);
    cursor: pointer;
}

.form-divs #h5-crt-budget{
    margin: 0;
    margin-left: 1em;
    margin-top: 2em;
}

.speech-bubble {
<<<<<<< HEAD
    position: relative;
=======
	position: relative;
>>>>>>> 3d829fb473469a956099bf1f9e3c0bacbc83887a
    background: #333;
    color: white;
    max-width: 60px;
    width: fit-content;
    height: 25px;
    padding-left: 3px;
    padding-right: 3px; 
    text-align: center;
    border-radius: 0.4em;
    margin-bottom: 10px;
}

.people-container, .flight-container{
    max-width: 200px;
    padding: 1em;
    position: relative;
}

.people-container input[type="number"],
.flight-container select{
    outline: none;
    max-width: 100%;
    font-size: 16px;
    padding-left: 1em;
    background-color: rgb(231, 231, 231);
    border: 0;
    border-bottom: 1px solid #333;
    color: #333;
}

.flight-container select{
    padding-right: 3em;
}
.flight-container select option {
    outline: none;
}
  
#leaving-date-container,
#coming-date-container{
    display: inline-block;
    width: calc(50% - 3px);
}

#leaving-date-container input[type="date"]::-webkit-inner-spin-button,
#leaving-date-container input[type="date"]::-webkit-outer-spin-button,
#coming-date-container input[type="date"]::-webkit-inner-spin-button,
#coming-date-container input[type="date"]::-webkit-outer-spin-button{
    -webkit-appearance: none; 
    margin: 0; 
}

#leaving-date-container input[type="date"],
#coming-date-container input[type="date"],
.form-divs #itripname{
    outline: none;
    max-width: 100%;
    font-size: 16px;
    padding-left: 1em;
    background-color: rgb(231, 231, 231);
    border: 0;
    border-bottom: 1px solid #333;
    color: #333;
    margin-left: 1em;
}

#coming-date-container{
    opacity: 0.5;
    pointer-events: none;
}
.weather-ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.weather-ul .weather-pref-li{
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* min-width: 210px; */
    min-width: 40%;
}

.weather-ul .weather-pref-li input[type="number"]{
    outline: none;
    max-width: 100%;
    font-size: 16px;
    padding-left: 1em;
    margin-bottom: 0.5em;
    background-color: rgb(231, 231, 231);
    border: 0;
    border-bottom: 1px solid #333;
    color: #333;
    max-width: 50px;
}

.weather-ul .weather-pref-li select{
    outline: none;
    max-width: 100%;
    font-size: 16px;
    padding-left: 1em;
    margin-bottom: 0.5em;
    background-color: rgb(231, 231, 231);
    border: 0;
    border-bottom: 1px solid #333;
    color: #333;
}

@media screen and (min-width: 960px) and (max-width: 1100px){
    #interested-in li{
        min-width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 750px) {
    #interested-in li{
        min-width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #leaving-date-container,
    #coming-date-container{
        width: 100%;
    }

    #leaving-date-container input[type="date"],
    #coming-date-container input[type="date"]{
        max-width: calc(100% - 2em);
    }
}

@media screen and (max-width: 960px){

    .main-section{
        flex-direction: column;
    }

    .main-section .menu-sidebar{
        min-width: 100%;
        width: auto;
        position: relative;
    }
    
    .search-container form input{
        width: 100%;
    }
}

@media screen and (min-width: 250px) and (max-width: 500px){
    .form-divs .search-city-container{
        width: 100%;
    }

    #interested-in li{
        min-width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
}