
.content-container .notif-bar{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin: 0; 
}

.content-container .notif-bar div{
    background-color: #333;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;

}

.notif-bar div h3{
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.notif-bar div hr{
    border: 2px solid white;
}

.notif-bar #notifications-ul{
    display: flex;
    flex-direction: row;
    color: white;    
    list-style: none;
    padding: 0;
}

#notifications-ul li{
    padding: 1em;
}

#notifications-ul li:hover{
    background-color: rgb(27, 27, 27);
}