
.content-container #ad-panorama{
    min-height: 100px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #2f4f4f;
}
#ad-panorama img{
    max-height: 100px;
    flex: 1;
}

.content-container .topics-container{
    background-color: #d4d4d4;
    margin: 1em;
    margin-top: 2em;
    padding: 1em;
}

.topics-container h3{
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.topics-container .my-topics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 143px;
}

.my-topics .topics{
    flex: 1;
    background-color: white;
    min-width: 48%;
    /* max-width: 48%; */
    min-height: 100%;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #333;
    position: relative;
}

.inactive-topics{
    opacity: 0.6;
}

.topics h4{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.topics p{
    margin-bottom: 3em;
}

.topic-buttons-div{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1.5em;
    padding-bottom: 0.5em; 
    display: flex;
}

.topics .topic-buttons-div button{
    color: white;
	border: none;
	cursor: pointer;
	min-width: 80px;
    opacity: 0.9;
    border-radius: 5px;
    outline: none;
    margin-left: 6px;
}

.topics .topic-buttons-div .active-inactive-topic{
    background: #2f4f4f;
   
}
.topics .topic-buttons-div .active-inactive-topic:hover{
	background: #162525;
}

.topics .topic-buttons-div .delete-topic{
    background: #ff0000;
}
.topics .topic-buttons-div .delete-topic:hover{
    background: #690202;
}

#no-topics-displayed{
    background-color: #E1E8F0;
    width: 100%;
    padding: 1em;
    color: #333;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: 1px solid #333;
}
#no-topics-displayed p{
    flex: 2;
    margin-bottom: 0;
}
#no-topics-displayed #gif-container{
    max-height: 80px;
    flex: 1;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gif-container img{
    height: 100%;
    max-height: 80px;
    max-width: 67px;
    align-self: flex-end;
}

@media screen and (max-width: 960px){

    #ad-panorama img{
        max-height: 80px;
    }
}

@media screen and (max-width: 500px) {

    #new-topic-form #add-trip{
        margin-left: 80%;
    }

    #ad-panorama img{
        max-height: 50px;
    }
}