html{
    font-size: 16px;
    height: 100%;
}

body {
	margin:0 auto;
    padding:0;   
    min-height:100%;
    position: relative;
    overflow:auto;
}
*{
    box-sizing:border-box;
    font-family: "Open Sans", sans-serif;
}

#top-line, #bottom-line{
    height: 5vh;
    width: 100%;
    background-color: #333;
}

.main-section{
    min-height: 90vh;
    width: auto;
    display: flex;
    padding-left: 8vw;
    padding-right: 8vw;
    background-color: rgba(3, 15, 3, 0.9);
    background-image:  url('../images/back2.jpg');
	background-position: center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
    background-size:  cover;
}

.main-section .menu-sidebar{
    min-width: 300px;
    width: 300px;
}

.main-section .content-container{
    /* background-color: green; */
    min-width: calc(84vw - 300px);
    overflow: hidden;
    padding-top: 3em;
    padding-bottom: 2.5em;
}

.menu-sidebar #logo{
    max-width: 100%;
    right: 0;
    height: auto;
    padding: 1em;
    padding-bottom: 0;
}

.menu-sidebar .main-header{
    background-color: inherit;
    height: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu-sidebar .main-header nav{
    height: 50px;
    margin-top: 5px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    display: block;   
}

.main-header nav ul{
    min-height: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-header nav ul li{
    flex: 1;
    min-height: 100%;
    background-color: #333;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-header nav ul li:nth-child(4){
    margin-right: 0;
}

.main-header nav ul li a{
    text-decoration: none;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: all ease-in-out 0.2s;
}

.main-header nav ul li a i{
    font-size: 2rem;
}

.menu-sidebar .main-header .profile-container{
    height: auto;
    margin:0;
    padding: 1em;
    background-color: #333;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.menu-sidebar .main-header .profile-container img{
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    max-height: 140px;
    max-width: 140px;
}

.menu-sidebar .main-header .profile-container h2{
    color: antiquewhite;
    margin-top: 1.5em;
}

.content-container .new-topic{
    margin-top: 0;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.content-container .new-topic #new-topic-form{
    background-color: #333;
    padding-top: 0.5em;
    padding: 1em;
    position: relative;
}

#new-topic-form .new-topic-inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2.5em;
}

.content-container .new-topic #new-topic-form h3{
    color: white;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

hr{
    border: 2px solid white;
}

#new-topic-form .new-topic-inputs input[type=text], 
#new-topic-form .new-topic-inputs input[type=number],
#new-topic-form .new-topic-inputs input[type=date]
{
    /* width: 49%; */
    /* line-height: 1.5em; */
    padding: 0.5em;
    margin: 0.3em;
    min-width: 20%;
    flex: 1;
    border-radius: 5px;
    outline: none;
}

#new-topic-form .add-topic-button-div{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 0;
    padding-right: 1.5em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
}

#new-topic-form .add-topic-button-div #add-trip{
    background: #4dff4d;
    color: #333;
    font-weight: bold;
	border: none;
	cursor: pointer;
    min-width: 80px;
    min-height: 30px;
    opacity: 0.9;
    border-radius: 5px;
    margin-left: 0;
    outline: none;
}
#new-topic-form #add-trip:hover{
	background: #33c433;
}

.add-topic-button-div img{
    max-height: 30px;
    margin-right: 0.5em; 
}

.add-topic-button-div #verified{
    display: none;
}
.add-topic-button-div #wrong{
    display: none;
}

 .content-container .news-container{
    margin-top: 2em;
    margin-left:1em;
    margin-right: 1em;
    padding: 1em;
    background-color: #333;
}

.content-container .news-container li{
    list-style: none;
    background-color: white;
    min-height: 100px;
    margin-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
} 

.menu-sidebar .main-header .search-container{
    min-width: 100%;
    height: 65px;
    margin: 0;
    padding-top: 1em;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.search-container form{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex: 4 1 auto;
}

.search-container form input{
    min-height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 1em;
    background-color: #333;
    border: 0;
    color: antiquewhite;
    /* flex: 4/5; */
}
.search-container form input::placeholder{
    color: antiquewhite;
}

.search-container form input:focus{
    outline: none;
}

.search-container form button{
    font-size: 16px;
    padding: 1em;
    min-height: 100%;
    background-color: #333;
    color: white;
    border: 0;
    /* flex: 1/5; */
}
.search-container form button i{
    cursor: pointer;
    font-size: 1rem;
    margin: 0;
}

@media screen and (max-width: 960px){

    #logo{
        display: none;
        /* width: 180px;
        position: absolute;
        transform: rotate(20deg);
        margin-top: 2.1em;
        margin-right: -1em; */
    }

    .main-section{
        flex-direction: column;
    }

    .main-section .menu-sidebar{
        min-width: 100%;
        width: auto;
        position: relative;
    }
    
    .search-container form input{
        width: 100%;
    }
}